body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}

header {
    background: linear-gradient(to right, white, #6495ED, #8A2BE2);
    color: #fff;
    padding: 20px 40px;
    border-bottom: 2px solid #6495ED;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.namelogo {
    height: 150px;
}

nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000000;
}

.contentIndex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #d9f9ff;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #d9f9ff 10px), repeating-linear-gradient(#b4abff55, #b4abff);
}

.welcome {
    width: 45%;
    text-align: center;
    padding: 20px;
}

.contentIndex h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.contentIndex h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    color: #090909;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 0.5em;
    background: linear-gradient(to right, #6edef5, #6455f0);
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-decoration: none;
    text-align: center;
}

.aButton h1 {
    font-size: 24px;
    margin: 0;
    color: inherit;
}

.aButton p {
    font-size: 16px;
    margin: 10px 0 0;
    color: #666;
}

.aButton:hover {
    color: #ffffff;
    border: 1px solid #000;
}

.bigpic {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigpic img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: linear-gradient(to right, white, #6495ED, #8A2BE2);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #6495ED;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
}

/* .portrait {
    border: #6495ED 5px inset;
    float: right;
    margin-left: 10px;
    margin-right: 40px;
    line-height: 0;
}

section {
    margin: 20px;
}

h2 {
    margin-top: 50px;
    color: #333;
}

.project-link {
    text-decoration: none;
    color: #333; 
}

.notepadPR {
    background-color: #fff;
    background-image: url(images/notepadPRBG.jpg);
    background-position-x: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    text-align: left;
}

.project2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    text-align: left;
}

.project:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project h3 {
    color: #333;
}

.project p {
    color: #555;
}

progress[value] {
    --w: 200px;
    --color: linear-gradient(90deg,#6495ED,#1ecd1e) 0/var(--w);
    --background: #D6D6D6;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
  }

  .iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 5px solid #333; 
}

 */
