body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f9ff;
}

header {
    background-color: #6495ED;
    color: #fff;
    padding: 20px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000000;
}

.portrait {
    border: #6495ED 5px inset;
    float: right;
    margin-left: 10px;
    margin-right: 40px;
    line-height: 0;
}

section {
    margin: 20px;
}

h2 {
    margin-top: 50px;
    color: #333;
}

.project-link {
    text-decoration: none;
    color: #333; 
}

.notepadPR {
    background-color: #fff;
    background-image: url(images/notepadPRBG.jpg);
    background-position-x: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    text-align: left;
}

.project2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    text-align: left;
}

.project:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project h3 {
    color: #333;
}

.project p {
    color: #555;
}

progress[value] {
    --w: 200px;
    --color: linear-gradient(90deg,#6495ED,#1ecd1e) 0/var(--w);
    --background: #D6D6D6;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
  }

  .iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 5px solid #333; 
}


footer {
    background-color: #6495ED;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
}
